nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
}

nav > span {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1em;
}
.bold {
  font-weight: 600;
}
.arrow {
  transform: rotate(90deg);
  font-size: 30px;
  color: red;
}
